@model string

@{
    Layout="_Layout";
}

<div class="card bg-info text-white">
    <h1 class="card-header">HELLO @Model</h1>
    <div class="card-body">
        <p class="card-text">
            Welcome to my Page
        </p>
    </div>
</div>

@this.Path