@    using WebApplication2.Models;
    using WebApplication2.Areas.ProductManage.Model;
@model ProductModel

@{
    Layout = "_Layout";
    var product = ViewData["product"] as ProductModel;
}

<div class="card bg-danger text-white">
    <h1 class="card-header">@product.Name</h1>
    <div class="card-body">
        <p class="card-text">
            ID: @ViewData["ID"]
        </p>
        <p class="card-text">
            Price: @product.Price $
        </p>
    </div>
</div>

@this.Path


